<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome! - {{ title }}{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    {% block body %}
        <header>
            <h1>{{ title }}</h2>
            <ul>
                <li><a href="/">Strona główna</a></li>
                <li><a href="/oferta/">Oferta</a></li>
            </ul>
        </header>
<p>
{{ content }}
</p>
        {% endblock %}
    </body>
</html>
