{% extends "base.html.twig" %}
{% set title = 'Kontakt' %}
{% set content = '' %}

{% block contentBlock %}
<div class="contact">
    <p>Skontaktuj się z nami:</p>
    <ul>
        <li style="list-style-image: url(https://img.icons8.com/ios-glyphs/30/ffffff/phone--v1.png)">Telefon: <a href="tel:+4800000000">+48 0000 0000</a></li>
        <li style="list-style-image: url(https://img.icons8.com/ios-filled/30/ffffff/mail.png)">Mail: <a href="mailto:example@domain.invalid">example@domain.invalid</a></li>
    </ul>
</div>
{% endblock %}